{:paths ["src" "resources"]
 :deps {cljsjs/draft-js {:mvn/version "0.10.5-0"}
        cljsjs/react {:mvn/version "16.4.1-0"}
        cljsjs/react-dom {:mvn/version "16.4.1-0"}
        com.cemerick/friend {:mvn/version "0.2.3"}
        com.cognitect/transit-clj #:mvn{:version "0.8.285"}
        com.cognitect/transit-java #:mvn{:version "0.8.311"},
        com.datomic/ion {:mvn/version "0.9.16"}
        com.fasterxml.jackson.core/jackson-core #:mvn{:version "2.9.5"},
        net.icbink/expand-headers {:git/url "https://github.com/euccastro/expand-headers.git"
                                   :sha "b2b0364422d71b8f233148942618b7b16da38ecf"}
        org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/core.cache {:mvn/version "0.6.5"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/data.priority-map {:mvn/version "0.0.7"}
        org.msgpack/msgpack #:mvn{:version "0.6.10"},
        ring/ring-defaults {:mvn/version "0.3.2"}
        rum {:mvn/version "0.11.2"
             :exclusions [cljsjs/react cljsjs/react-dom]}
        slingshot {:mvn/version "0.12.2"}}
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {:dev {:extra-deps {com.datomic/client-cloud {:mvn/version "0.8.54"}
                     com.datomic/ion-dev {:mvn/version "0.9.175"}
                     ;;aleph {:mvn/version "0.4.6"}
                     org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.3.7.v20160115"}
                     org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.3.7.v20160115"}
                     org.eclipse.jetty/jetty-server {:mvn/version "9.3.7.v20160115"}
                     com.bhauman/figwheel-main {:mvn/version "0.1.4"
                                                :exclusions [org.eclipse.jetty.websocket/websocket-servlet
                                                             org.eclipse.jetty.websocket/websocket-server
                                                             org.eclipse.jetty/jetty-server]}}}}}
