body {font-size: 100%;
      font-family: Ubuntu, Sans-serif;}

.vermelho {color: red;
           font-size: 87.5%;
           transition: color 0.5s ease-in-out 0s;}

.vermelho:hover { color: white; }

a:link {text-decoration: none;}

nav a {padding: 0.25em 0.5em 0.25em 0.5em;
       font-weight: bold;
       color: white;}

nav a:link {color: white;}
nav a:visited {color: white;}
nav a:hover {background-color: #9eab05;
             color: white;}
nav a:active {background-color: white;
              color: #9eab05;}