/** {margin: 0px; padding: 0px;} */

body {font-size: 100%;
      font-family: Ubuntu, Sans-serif;}


a:link {text-decoration: none;
        color: #009ca3;}

.navitem {flex-grow: 1;
          font-size: 110%;
          padding: 1em 1em;
          text-align: center;}

.ondetou {background-color: white;
          color: #009ca3;
          font-weight: bold;}

a.navitem:link {color: white;}
a.navitem:visited {color: white;}
a.navitem:hover {background-color: #9eab05;
                 color: white;}
a.navitem:active {background-color: white;
                  color: #009ca3;}

a.social {text-align: center;
          border-radius: 4px;
          margin: 6px 2px;
          padding: 3px;}

a.social:active {background-color: #009ca3;}

svg.socialsvg {width: 30px;
               height: 30px;
               text-align: center;}

a svg:hover path.socialpath {fill: #009ca3;}

a svg:active path.socialpath {fill: white;}

footer div.barra {display: flex;
                  flex-direction: row-reverse;
                  padding: 0.7rem 5% 0rem 15%;
                  background-color: #9eab05;}
footer img {background-color: #9eab05;
            height: 3.5rem;}

.quemsomosimg {padding: 0.7em 1.2em 2em 1.2em;}

h1 {color: #9eab05;}