@font-face {
    font-family: 'dejavu_serif';
    src: url('../font/dejavuserif-webfont.woff2') format('woff2'),
         url('../font/dejavuserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dejavu_serif';
    src: url('../font/dejavuserif-bolditalic-webfont.woff2') format('woff2'),
    url('../font/dejavuserif-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'dejavu_serif';
    src: url('../font/dejavuserif-italic-webfont.woff2') format('woff2'),
    url('../font/dejavuserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'dejavu_serif';
    src: url('../font/dejavuserif-bold-webfont.woff2') format('woff2'),
    url('../font/dejavuserif-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

body {font-size: 100%;
      font-family: dejavu_serif, serif;}

a:link {text-decoration: none;
        color: #0091a2;}

.navitem {flex-grow: 1;
          font-size: 80%;
          padding: 0.5em 0.5em;
          text-align: center;}

.ondetou {background-color: white;
          color: #0091a2;
          font-weight: bold;}

a.navitem:link {color: #0091a2;}
a.navitem:visited {color: #0091a2;}
a.navitem:hover {background-color: #0091a2;
                 color: white;}
a.navitem:active {background-color: white;
                  color: #a39b00;}

a.social {text-align: center;
          border-radius: 4px;
          margin: 4px 2px;
          padding: 3px;}

a.social:hover {background-color: #0091a2;}
a.social:active {background-color: white;}

svg.socialsvg {width: 24px;
               height: 24px;
               text-align: center;}

a svg:hover path.socialpath {fill: white;}

a svg:active path.socialpath {fill: #a39b00;}

footer div.barra {display: flex;
                  flex-direction: row-reverse;
                  padding: 0.5rem 5% 0rem 5%;
                  background-color: #e2e2e2;}
footer img {background-color: #e2e2e2;
            height: 2.5rem;}

.quemsomosimg {padding: 0.7em 1.2em 2em 1.2em;}

input:focus {box-shadow: inset 0 0 0 2px #b3b3b3;
             background-color: #a39b00;}
h1 {color: #a39b00;
    font-family: Ubuntu, sans-serif;}
