[[:crux.tx/put
  {:crux.db/id #uuid "447b0d5d-0813-4839-b135-467d04019b86"
   :image/extension "jpg"
   :image/name "Concerto primavera"
   :image/description "Concerto na Torreira"}]
 [:crux.tx/put
  {:crux.db/id #uuid "163e8d3a-6af6-4655-a9ba-a787a8277e78"
   :image/extension "jpg"
   :image/name "Concerto primavera 2"
   :image/description "Guadi usa ghafas de sol"}]
 [:crux.tx/put
  {:crux.db/id #crux/id "https://semente.gal/nacional/article/primavera-generosa"
   :article/type :article.type/nova
   :article/scope :scope/nacional
   :article/publish-time #inst "2019-04-25T23:59:59.999-00:00"
   :article/title "Primavera generosa"
   :article/main-image #uuid "447b0d5d-0813-4839-b135-467d04019b86"
   :article/summary "Muito celebramos a chegada da primavera, porque é muito o que a natureza nos dá neste mudar estacional. Desfrutamos da luz, da maravilha das flores e do seu cheirar, das árvores tornando verdes, dos novos fruitos, da quenturinha do sol roçando a pele..."
   :article/body
   [[:p "Muito celebramos a chegada da primavera, porque é muito o que a natureza nos dá neste mudar "]
    [:p "Desfrutamos da luz, da maravilha das flores e do seu cheirar, das árvores tornando verdes, dos novos fruitos, da quenturinha do sol roçando a pele e do convite a estar mais tempo no quintal. Todo isto, imo-lo desfrutando juntas, mas na Semente a primavera também se deixou ver, com atividades mui gostosas e com muito ambiente.
"]
    [:p "A primeira celebraçom assi que chegou a primavera foi o 25 de abril, comemorando este dia com um concerto bem fermoso para toda a família da Semente. Guadi e a sua banda quigéron acompanhar-nos numha manhá lindíssima, cheia de vida e que nom vai ser doada de esquecer. Os bailes e as emoçons ali vividas fam-nos sentir mui afortunadas. E assim celebramos que somos a geraçom das 1000 primaveras mais."]
    [:p "25 de abril, sempre!"]
    [:image #uuid "447b0d5d-0813-4839-b135-467d04019b86"]
    [:image #uuid "163e8d3a-6af6-4655-a9ba-a787a8277e78"]]}]]
